<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @budget_expense.user_id %>
</p>

<p>
  <strong>Budget domain:</strong>
  <%= @budget_expense.budget_domain_id %>
</p>

<p>
  <strong>Budget account:</strong>
  <%= @budget_expense.budget_account_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @budget_expense.amount %>
</p>

<p>
  <strong>Budget category:</strong>
  <%= @budget_expense.budget_category_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @budget_expense.comment %>
</p>

<%= link_to 'Edit', [:edit, @budget_domain, @budget_expense] %> |
<%= link_to 'Back', budget_domain_budget_expenses_path(@budget_domain) %>
