<%= form_for @budget_domain_invitation, url: budget_domain_invitations_path(@budget_domain) do |f| %>
  <% if @budget_domain_invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget_domain_invitation.errors.count, "error") %> prohibited this budget_domain from being saved:</h2>

      <ul>
      <% @budget_domain_invitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit 'Invite' %>
  </div>
<% end %>
