<%= form_for [@budget_domain, @budget_category] do |f| %>
  <% if @budget_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget_category.errors.count, "error") %> prohibited this budget_category from being saved:</h2>

      <ul>
      <% @budget_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.select :kind, BudgetCategory::KINDS %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
