<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @budget_category.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @budget_category.kind %>
</p>
<% if @can_update %>
  <%= link_to 'Edit', [:edit, @budget_domain, @budget_category] %> |
<% end %>
<%= link_to 'Back', budget_domain_budget_categories_path %>
