<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @budget_category.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @budget_category.kind %>
</p>
<%= link_to 'Edit', [:edit, @budget_domain, @budget_category] %> |
<%= link_to 'Back', budget_domain_budget_categories_path %>
