<p id="notice"><%= notice %></p>

<p>
  <strong>Budget domain:</strong>
  <%= @budget_plan.budget_domain.name %>
</p>

<p>
  <strong>Budget category:</strong>
  <%= @budget_plan.budget_category.name %>
</p>

<p>
  <strong>Planned amount:</strong>
  <%= @budget_plan.planned_amount %>
</p>

<p>
  <strong>Actual amount:</strong>
  <%= @budget_plan.actual_amount %>
</p>

<p>
  <strong>Year:</strong>
  <%= @budget_plan.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @budget_plan.month %>
</p>

<%= link_to 'Edit', [:edit, @budget_domain, @budget_plan] %> |
<%= link_to 'Back', budget_domain_budget_plans_path(@budget_domain) %>
