<h1>Listing Budget Domains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_domains.each do |budget_domain| %>
      <tr>
        <td><%= budget_domain.name %></td>
        <td><%= budget_domain.description %></td>
        <td><%= link_to 'Show', budget_domain %></td>
        <td><%= link_to 'Edit', edit_budget_domain_path(budget_domain) %></td>
        <td><%= link_to 'Destroy', budget_domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget domain', new_budget_domain_path %>
