<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @budget_domain.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @budget_domain.description %>
</p>

<h4>Members</h4>
<ul>
  <% @members.each do |user| %>
    <li>
      <%= user.email %>
      <small>(<%= user.budget_domain_membership_role %>)</small>
    </li>
  <% end %>
  <li><%= link_to 'Invite a member', new_budget_domain_invitation_path(@budget_domain) %></li>
</ul>

<h4>Related</h4>
<%= link_to 'Manage members', budget_domain_memberships_path(@budget_domain) %> |
<%= link_to 'Plans', budget_domain_budget_plans_path(@budget_domain) %> |
<%= link_to 'Categories', budget_domain_budget_categories_path(@budget_domain) %> |
<%= link_to 'Accounts', budget_domain_budget_accounts_path(@budget_domain) %>
<h4>Actions</h4>
<%= link_to 'Edit', edit_budget_domain_path(@budget_domain) %> |
<%= link_to 'Go back', budget_domains_path %>
